@import "tailwindcss";
@plugin "daisyui";

.hero-bg {
    background: url(/src/Images/hero.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}